.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 5%;
    padding-top: 0rem;
    background-color: #888888;
    color: white;
  }
  
  .footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .footer a {
    padding-right: 15px;
    padding-top: 10px;
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover,
  .footer a:active {
      border-top: 4px solid white;
  }